.hero {
    color: var(--cadet-gray);
    text-align: center;
    padding-block-start: calc(var(--section-padding) + 110px) !important; 
    padding-block-end: 0;
    overflow: hidden;
    background-repeat: no-repeat;
  }


  /**
 * responsive for larger than 992px screen
 */

@media (min-width: 992px) {

  /**
   * HERO
   */

  .hero {
    background-size: cover !important;
    text-align: left;
    height: 30vh;
  }
}

  /**
 * responsive for larger than 992px screen
 */

 @media (max-width: 992px) {

  /**
   * HERO
   */

  .hero {
    background-size: cover !important;
    text-align: left;
    height: 15vh;
  }
}



/**
 * responsive for larger than 575px screen
 */

@media (max-width: 575px) {
    /**
   * HERO
   */

   .hero {
    background-size: cover !important;
    text-align: left;
    height: 35vh;
  }
}
